$veryDarkBlue: hsl(229, 57%, 11%);

@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
  color: #fff;
}

.fylo {
  background: $veryDarkBlue url(../assets/img/bg-desktop.png) no-repeat bottom;
  background-size: 100% 52%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  grid-template-rows: 1fr 216px 1fr;
}
