$gradient1: hsl(6, 100%, 80%);
$gradient2: hsl(335, 100%, 65%);
$veryDarkBlue: hsl(229, 57%, 11%);

.progressContainer {
  display: grid;
  width: 455px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  .progressBar {
    display: block;
    background: $veryDarkBlue;
    height: 20px;
    border-radius: 999px;
    grid-column: span 2;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 0;
      right: 0;
      background: linear-gradient(to right, $gradient1, $gradient2);
      height: 16px;
      border-radius: 999px;
      width: 70%;
    }
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #fff;
      top: 2px;
      left: 68%;
      bottom: 0;
      right: 0;
      border-radius: 999px;
    }
  }

  p:last-child {
    justify-self: end;
  }
}
