$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);

.usageCard {
  padding: 43px;
  background-color: $darkBlue;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 10px;
}
