@import "main";

.usageCard {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $darkBlue;
  padding: 43px;
  border-radius: 10px;
  gap: 18px;

  @include desktop {
    align-self: end;
    grid-column: 3;
    grid-row: 2;
  }
}
